.table{
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}


.heading{

}

th td{
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: rgb(236, 154, 154)}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #5a1a01;
    color: white;
  }